@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  max-height: 100vh;
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(174, 255, 13, 0.3)), to(rgba(11, 222, 38, 0)));
  background: linear-gradient(to top right, rgba(174, 255, 13, 0.3), rgba(11, 222, 38, 0));
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  -webkit-box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.9);
  background: rgba(174, 255, 13, 0.2);
  padding: 0 10rem;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

header .logo svg {
  padding-right: 10px;
  height: 65px;
  width: 65px;
}

header .logo svg #heart #Vector_3 {
  -webkit-animation: beat 0.5s ease-in-out infinite;
          animation: beat 0.5s ease-in-out infinite;
}

header .logo svg #heart #Vector_4 {
  -webkit-animation: beat 0.5s ease-in-out infinite;
          animation: beat 0.5s ease-in-out infinite;
}

header .logo .logo-name {
  font-size: 1.4rem;
  font-weight: 700;
  color: #16571e;
  letter-spacing: 1px;
}

header .quick-links .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .quick-links .link li {
  list-style: none;
}

header .quick-links .link li a {
  display: inline-block;
  margin: 0 2rem;
  text-decoration: none;
  font-size: 0.8rem;
  color: #16571e;
  font-family: "Roboto", serif;
  letter-spacing: 1px;
  font-weight: bold;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header .quick-links .link li a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #143014;
  margin: 5px 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header .quick-links .link li a:active::before {
  top: 0;
  opacity: 1;
}

header .quick-links .link li a:hover::before {
  top: 0;
  opacity: 1;
}

header .quick-links .link li a:hover {
  color: #143014;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
}

.main .left-container {
  margin-left: 10rem;
}

.main .left-container .main-headline {
  font-size: 3.5rem;
  letter-spacing: 2px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 5rem;
  color: #143014;
}

.main .left-container .sub-headline {
  font-size: 1rem;
  color: #16571e;
  letter-spacing: 1px;
  font-family: "Roboto";
  width: 95%;
  line-height: 1.7rem;
}

.main .left-container .info {
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 1.3rem;
  color: #16571e;
  width: 95%;
}

.main .left-container .btn {
  margin-top: 3.8rem;
}

.main .left-container .btn .cta {
  display: inline-block;
  text-decoration: none;
}

.main .left-container .btn .cta button {
  padding: 1.2rem 2rem;
  background: rgba(174, 255, 13, 0.2);
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 30% 0;
  color: #143014;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main .left-container .btn .cta button:focus {
  background: transparent;
  border: 1px solid #16571e;
}

.main .left-container .btn .cta button:hover {
  border-radius: 5px;
  background: transparent;
  -webkit-box-shadow: 0 0 20px rgba(184, 230, 178, 0.9);
          box-shadow: 0 0 20px rgba(184, 230, 178, 0.9);
}

.main .right-container .img-container .yoga {
  width: 25.5rem;
  height: auto;
  margin-right: 10rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
  -webkit-box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.9);
          box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.9);
}

.main .absolute-container {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100vh - 80px);
  background: #ff8008;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#ffc837), to(#ff8008));
  background: linear-gradient(to top, #ffc837, #ff8008);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 25%;
  border-radius: 10px 0 0 10px;
  z-index: -1;
}

.main .contact-us {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 60px;
  background: rgba(174, 255, 13, 0.2);
  border-radius: 0 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5rem 0 10rem;
}

.main .contact-us .social {
  display: block;
}

.main .contact-us .social a {
  text-decoration: none;
  font-size: 2rem;
  color: #16571e;
}

.main .contact-us .social a:nth-child(1) {
  margin-right: 2rem;
}

.main .contact-us .social a:nth-child(2) {
  margin-right: 2rem;
}

.main .contact-us .social a i {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main .contact-us .social a i:hover {
  color: #143014;
}

.main .contact-us .contact {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.main .contact-us .contact span {
  display: inline-block;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-animation: movement 2s ease-in-out infinite;
          animation: movement 2s ease-in-out infinite;
}

@media (max-width: 1260px) {
  header {
    padding: 0 5em;
  }
  .main .left-container {
    margin-left: 5em;
  }
  .main .right-container .img-container .yoga {
    margin-right: 5rem;
    width: 24rem;
  }
  .main .contact-us {
    padding: 0 5em 0 5em;
  }
}

@media (max-width: 1060px) {
  .main .contact-us .social a {
    font-size: 1.5rem;
  }
  .main .contact-us .contact {
    font-size: 0.8rem;
  }
}

@media (max-width: 980px) {
  .header .quick-links {
    position: absolute;
    bottom: 2%;
    left: -2%;
    height: 70px;
    width: 75%;
    z-index: 9;
  }
  .header .quick-links .link {
    background: rgba(174, 255, 13, 0.2);
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  .main .contact-us {
    position: absolute;
    top: -10%;
    background: none;
    left: 95%;
    -webkit-transform: translateX(-95%);
            transform: translateX(-95%);
    width: 45%;
  }
  .main .right-container .img-container .yoga {
    width: 19.5rem;
    height: auto;
  }
  .main .left-container {
    margin-bottom: 5rem;
  }
  .main .left-container .sub-headline {
    width: 80%;
  }
  .main .left-container .info {
    width: 80%;
  }
  .main .left-container .main-headline {
    font-size: 3rem;
  }
  .main .btn .cta button {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transform-origin: left;
            transform-origin: left;
    font-size: 0.7rem;
  }
}

@media (max-width: 800px) {
  .header {
    padding: 0 3em;
  }
  .header .quick-links {
    left: -5%;
  }
  .header .logo .logo-name {
    font-size: 1.2rem;
  }
  .header .logo svg {
    height: 50px;
    width: 50px;
  }
  .main .left-container {
    margin-left: 3em;
  }
  .main .left-container .main-headline {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .main .left-container .sub-headline {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .main .left-container .info {
    font-size: 0.7rem;
  }
  .main .btn .cta button {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-transform-origin: left;
            transform-origin: left;
    font-size: 0.7rem;
  }
  .main .right-container {
    margin-right: -3em;
  }
  .main .contact-us {
    left: 98%;
    -webkit-transform: translateX(-95%);
            transform: translateX(-95%);
    width: 50%;
  }
}

@media (max-width: 730px) {
  .main .right-container {
    display: none;
  }
  .main .btn .cta button {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .main .left-container {
    margin-left: 10px;
  }
  .main .absolute-container {
    height: calc((100vh - 80px) - 70px);
    width: 30%;
  }
  .main .contact-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main .contact-us .social {
    position: absolute;
    bottom: 25px;
    right: 10px;
  }
  .main .contact-us p {
    position: absolute;
    right: 10px;
  }
  .header {
    padding: 0 10px;
  }
  .header .logo svg {
    padding-right: 2px;
  }
  .header .quick-links {
    width: 100%;
    left: 0%;
    bottom: 0;
    right: 0;
  }
  .header .quick-links ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .quick-links ul li a {
    font-size: .7rem;
    margin: 0 10px;
  }
}

@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@keyframes beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@-webkit-keyframes movement {
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@keyframes movement {
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}
/*# sourceMappingURL=style.css.map */